<html><head>
<title>Door Controller
</title>
<link rel='stylesheet' href='static/coop.css'>
</head><body>
<div id='status'></div>
<div>
<form class='inline' action='/stop' method='POST'>
<input type='submit' value='Stop'>
</form>

<form class='inline' action='/open' method='POST'>
<input type='submit' value='Open'>
</form>

<form class='inline' action='/close' method='POST'>
<input type='submit' value='Close'>
</form>

<form class='inline' action='/reload' method='POST'>
<input type='submit' value='Reload'>
</form>

</div>

<div id='door'>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   width="350"
   height="600"
   id="door-img">
  <defs
     id="defs4" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="frame"
     style="display:inline">
    <rect
       width="289.01852"
       height="517.41559"
       x="12.721055"
       y="13.654388"
       id="rect3043"
       style="fill:#666666;fill-rule:evenodd;stroke:#000000;stroke-width:0.69724214px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
  </g>
  <g
     id="stopped"
	 class="stopped"
     >
    <rect
       width="286.8829"
       height="234.28569"
       ry="0"
       x="13.572495"
       y="299.36871"
       id="rect3052"
       style="fill:#cccccc" />
  </g>
  <g
     id="closing"
	 class="closing"
     >
    <rect
       width="286.37787"
       height="232.77046"
       ry="0"
       x="14.077577"
       y="299.36871"
       id="rect3056"
       style="fill:#cccccc" />
    <path
       d="M 385.71429,240.93361 310.83711,408.82429 212.21427,563.96104 104.25527,415.17015 19.21432,252.1919 202.05051,233.0921 z"
       transform="matrix(0.31842228,0.0086769,-0.00855967,0.31412016,91.797796,173.19942)"
       id="path3064"
       style="fill:#800000" />
  </g>
  <g
     id="opening"
	 class="opening"
     >
    <rect
       width="287.388"
       height="234.28569"
       ry="0"
       x="13.572495"
       y="299.36871"
       id="rect3068"
       style="fill:#cccccc" />
    <path
       d="M 385.71429,240.93361 310.83711,408.82429 212.21427,563.96104 104.25527,415.17015 19.21432,252.1919 202.05051,233.0921 z"
       transform="matrix(0.31568304,-0.00799484,-0.00826484,-0.32634424,93.261606,417.24424)"
       id="path3070"
       style="fill:#800000" />
  </g>
  <g
     id="closed"
	 class="closed"
     >
    <rect
       width="286.37778"
       height="28.571428"
       x="13.067414"
       y="501.37411"
       id="rect3059"
       style="fill:#cccccc" />
  </g>
  <g
     id="open"
	 class="open"
     >
    <rect
       width="286.04605"
       height="457.14285"
       x="14.077561"
       y="73.654381"
       id="rect3062"
       style="fill:#cccccc" />
  </g>
  <g
     id="error"
	 class="error"
     >
    <rect
       width="286.04605"
       height="457.14285"
       x="14.077561"
       y="73.654381"
       id="rect3074"
       style="fill:#cccccc" />
    <text
       x="137.26646"
       y="105.08296"
       id="text3076"
       xml:space="preserve"
       style="font-size:72px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#000000;fill-opacity:1;stroke:none;font-family:Times New Roman;-inkscape-font-specification:'Times New Roman,'"><tspan
         x="137.26646"
         y="105.08296"
         id="tspan3078"
         style="font-size:72px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:start;line-height:125%;writing-mode:lr-tb;text-anchor:start;fill:#ff0000;font-family:Times New Roman;-inkscape-font-specification:'Times New Roman,'">!</tspan></text>
  </g>
  <g
     id="upper"
	 class="upper"
     >
    <rect
       width="71.428574"
       height="51.42857"
       x="2.980752"
       y="2.2258148"
       id="rect3049"
       style="fill:#aa0000" />
  </g>
  <g
     id="lower"
	 class="lower"
     >
    <rect
       width="62.857143"
       height="51.42857"
       x="257.26648"
       y="487.94009"
       id="rect3046"
       style="fill:#800000" />
  </g>
</svg>
</div>




<script type='text/javascript' src='static/jquery-1.11.0.min.js'></script>
<script type='text/javascript' src='static/coop.js'></script>

</body></html>
