<html><head>
<title>Door Controller
</title>
<link rel='stylesheet' href='static/coop.css'>
</head><body>
{{ page }}
<div id='status'></div>
<div>
<form class='inline' action='/stop' method='POST'>
<input type='submit' value='Stop'>
</form>

<form class='inline' action='/open' method='POST'>
<input type='submit' value='Open'>
</form>

<form class='inline' action='/close' method='POST'>
<input type='submit' value='Close'>
</form>

<form class='inline' action='/reload' method='POST'>
<input type='submit' value='Reload'>
</form>

</div>
<script type='text/javascript' src='static/jquery-1.11.0.min.js'></script>
<script type='text/javascript' src='static/coop.js'></script>

</body></html>
